
.logos{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.text{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: larger;

}
.Main{
    width: 75%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.photos{
    width: 45%;
    height: 45%;
}
.ltr{
    display: flex;
    text-align: center;
}
.rtl{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
.text{
    display: flex;
    align-items: center;
    text-align: center;
}